/*
======================
Reset
======================
*/
:root {
  --primaryColor: #f1f1f1;
  --Black: #222;
  --black2: #555;
  --Orange: #e24647;
  --white: #fff;
  --grey: #959595;
  --grey2: #666;
  --secondaryColor: #2b1f4d;
  --yellow: #ffcc00;
  --green: #59b210;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
input {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Archivo", sans-serif;
  color: var(--Black);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/*
======================
Header
======================
*/

.header {
  position: relative;
}

.container {
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 1rem;
}

/*
======================
Navigation
======================
*/

.navigation {
  height: 6.7rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.nav__logo {
  padding: 1rem 0;
  cursor: pointer;
}

.nav__logo h2 {
  font-weight: 700;
}

.nav__hamburger {
  display: none;
  cursor: pointer;
}

.nav__hamburger svg {
  height: 2.3rem;
  width: 2.3rem;
}

.menu__top {
  display: none;
}

.nav__menu {
  width: 50%;
}

.nav__list {
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
}

.nav__item:not(:last-child) {
  margin-right: 1.6rem;
}

.nav__list .nav__link:link,
.nav__list .nav__link:visited {
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--Black);
  transition: color 0.3s ease-in-out;
}

.nav__list .nav__link:hover {
  color: var(--Orange);
}

.nav__icons {
  display: flex;
  position: relative;
}

.nav__icons .icon__item svg {
  width: 1.6rem;
  height: 1.6rem;
}

.nav__icons .icon__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  border: 1px solid var(--Black);
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.nav__icons .icon__item:link,
.nav__icons .icon__item:visited {
  color: var(--Black);
}

.nav__icons .icon__item:hover {
  background-color: var(--Orange);
  border: 1px solid var(--Black);

}

.nav__icons .icon__item:not(:last-child) {
  margin-right: 1rem;
}

.nav__icons #cart__total {
  font-size: 1rem;
  position: absolute;
  top: 2px;
  right: -6px;
  background-color: var(--Orange);
  padding: 0.2rem 0.4rem;
  border-radius: 100%;
  color: var(--primaryColor);
}

.page__title-area {
  background-color: var(--primaryColor);
}

.page__title-container {
  padding: 1rem;
}

.page__titles {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: var(--grey2);
}

.page__titles a {
  margin-right: 2rem;
}

.page__titles a svg {
  width: 1.8rem;
  height: 1.8rem;
  fill: var(--grey2);
}

.page__title {
  position: relative;
}

.page__title::before {
  position: absolute;
  content: "/";
  top: 0;
  left: -1rem;
}

/*
======================
Navigation Media Query
======================
*/
@media only screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: 0;
    left: -30rem;
    background-color: var(--white);
    z-index: 999;
    width: 0;
    height: 100%;
    transition: all 0.5s;
  }

  .nav__menu.open {
    width: 30rem;
    left: 0;
  }

  .nav__logo {
    width: 50%;
  }

  .nav__hamburger {
    display: block;
  }

  .menu__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Orange);
    padding: 1.8rem 1rem;
  }

  .menu__top svg {
    height: 1.6rem;
    width: 1.6rem;
    fill: var(--primaryColor);
  }

  .nav__category {
    color: var(--white);
    font-size: 2.3rem;
    font-weight: 700;
  }

  .nav__list {
    flex-direction: column;
    align-items: start;
    padding: 1.6rem 1rem;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
  }

  .nav__item {
    width: 100%;
  }

  .nav__list .nav__link:link,
  .nav__list .nav__link:visited {
    padding: 1.6rem 0;
    width: 100%;
    color: var(--grey2);
  }

  body.active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background: var(--Black) none no-repeat 0 0;
    opacity: 0.7;
    z-index: 999;

    transition: 0.8s;
  }
}

/*
======================
Hero Area
======================
*/

.hero,
.hero .glide__slides {
  background-color: var(--primaryColor);
  width: 100%;
  height: 100vh;
}

.hero .glide__bullet {
  background-color: #222;
  width: 1.2rem;
  height: 1.2rem;
}

.hero .glide__arrow {
  padding: 1.5rem 1.7rem;
  opacity: 0;
  border: none;
  background-color: var(--grey);
  transition: all 0.5s ease-in-out 0.2s;
}

.glide__arrow:hover {
  background-color: var(--Black);
}

.glide__arrow--left {
  left: 20rem;
}

.glide__arrow--right {
  position: absolute;
  right: 20rem;
}

.hero:hover .glide__arrow {
  opacity: 1;
}

.hero:hover .glide__arrow--left {
  left: 23rem;
}

.hero:hover .glide__arrow--right {
  right: 23rem;
}

.hero .glide__arrow svg {
  height: 1.8rem;
  width: 1.8rem;
  fill: var(--primaryColor);
}

.hero .glide__arrow {
  border-radius: 50%;
}

.hero__center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 114rem;
  margin: 0 auto;
  height: 100%;
  padding-top: 3rem;
}

.hero__left {
  padding: 0 3rem;
  flex: 0 0 50%;
}

.hero__btn {
  display: inline-block;
  font-weight: 700;
  font-size: 1.4rem;
  background-color: var(--Black);
  color: var(--primaryColor);
  cursor: pointer;
  margin-top: 1rem;
  padding: 1.5rem 4rem;
  border: 1px solid var(--Black);
  transition: all 0.3s ease-in-out;
}

.hero__btn:focus {
  outline: none;
}

.hero__left .hero__btn:hover {
  font-weight: 700;
  background-color: transparent;
  color: var(--Black);
}

.hero__left h1 {
  margin-top: 1rem;
}

.hero__right {
  flex: 0 0 50%;
  position: relative;
  text-align: center;
}

.hero__right img.banner_03 {
  width: 70%;
}

/*
======================
Hero Media Query
======================
*/
@media only screen and (max-width: 999px) {
  .hero__center {
    flex-direction: column;
    text-align: center;
  }

  .hero__right {
    top: 50%;
    position: absolute;
  }

  .hero__left {
    position: absolute;
    padding: 0 1rem;
    top: 20%;
  }

  .hero__right img {
    width: 55%;
  }

  .hero__btn {
    padding: 1.1rem 2.8rem;
  }

  .hero .glide__arrows {
    display: none;
  }
}

/*
======================
Collection
======================
*/

.section {
  padding: 3rem 0;
}

.collection {
  margin: 3rem 0;
}

.collection__container {
  width: 100%;
  padding: 0 1.6rem;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.collection__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  flex: 0 0 48%;
  height: 30rem;
  background-color: var(--primaryColor);
}

.collection__box:not(:last-child) {
  margin-right: 1.6rem;
}

.img__container {
  width: 25rem;
  text-align: center;
}

.collection__box img.collection_01 {
  width: 60%;
}

.collection__box img.collection_02 {
  width: 75%;
}

.collection__content {
  flex: 0 0 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collection__content span {
  color: var(--Black);
}

.collection__content h1 {
  margin-top: 0.5rem;
}

.collection__content a:link,
.collection__content a:visited {
  font-weight: 700;
  display: inline-block;
  padding: 1rem 1.4rem;
  margin-top: 1.3rem;
  border-radius: 3rem;
  border: 2px solid var(--secondaryColor);
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
  transition: all 0.3s ease-in-out;
}

.collection__content a:hover {
  background-color: transparent;
  color: var(--secondaryColor);
}

/*
======================
Collection Media Query
======================
*/
@media only screen and (max-width: 999px) {
  .collection__container {
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    height: 65rem;
  }

  .collection__box {
    width: 100%;
    margin: 0 auto;
  }

  .collection__box:not(:last-child) {
    margin: 0 0 1.6rem;
  }
}

@media only screen and (max-width: 568px) {
  .collection {
    margin: 0;
    position: relative;
  }

  .collection__container {
    width: 100%;
    height: 50rem;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
  }

  .collection__box {
    justify-content: space-around;
    height: 15rem;
  }

  .collection__content {
    flex: 0 0 30%;
  }

  .collection__data span {
    font-size: 1.2rem;
  }

  .collection__data h1 {
    font-size: 2rem;
  }
}

/*
======================
Latest Products
======================
*/

.title__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 6rem;
  padding: 1.5rem 0;
  background-color: var(--primaryColor);
}

.section__titles:not(:last-child) {
  margin-right: 1.5rem;
}

.section__title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.section__title h1 {
  font-size: 1.9rem;
  font-weight: inherit;
}

.section__title:hover .primary__title,
.section__title:hover span.dot,
.section__title:hover span.dot::before {
  opacity: 1;
}

.section__title .primary__title {
  opacity: 0.6;
  padding-left: 0.5rem;
  transition: opacity 0.3s ease-in-out;
}

span.dot {
  opacity: 0.6;
  padding: 0.45rem;
  position: relative;
  border: 1px solid var(--Black);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

span.dot::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--Black);
  background-color: var(--Black);
  margin: 1px;
  opacity: 0.6;
}

.section__title.active span.dot {
  opacity: 1;
}

.section__title.active span.dot::before {
  opacity: 1;
}

.section__title.active .primary__title {
  opacity: 1;
}

@media only screen and (max-width: 567px) {
  .title__container {
    flex-direction: column;
  }

  .section__titles:not(:last-child) {
    margin: 0 0 1.3rem;
  }
}

.product {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25rem;
}

.product__header {
  height: 25rem;
  padding: 0.5rem 0;
  text-align: center;
}

.product__header img {
  max-width: 100%;
  max-height: 100%;
}

.product__footer {
  padding: 1rem 0;
}

.rating {
  padding-bottom: 1rem;
}

.rating svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--yellow);
}

.product__footer h3 {
  padding: 1rem 0;
}

.product__footer .product__price {
  padding-bottom: 1rem;
}

.product__footer h3 {
  font-size: 1.6rem;
}

.product__btn {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  padding: 1.4rem 0;
  border: 1px solid var(--Black);
  color: var(--Black);
  cursor: pointer;
}

.product__btn:focus {
  outline: none;
}

.product__btn:hover {
  background-color: var(--Black);
  color: var(--primaryColor);
}

.latest__products .glide__arrow,
.related__products .glide__arrow {
  background-color: transparent;
  border: 1px solid var(--primaryColor);
  outline: none;
  border-radius: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0);
  top: -7%;
  left: 80%;
}

.latest__products .glide__arrow:hover,
.related__products .glide__arrow:hover {
  background-color: var(--Orange);
  border: 1px solid var(--primaryColor);
}

.latest__products .glide__arrow--left,
.related__products .glide__arrow--left {
  left: 75%;
}

.latest__products .glide__arrow--right,
.related__products .glide__arrow--right {
  right: 5%;
}

.latest__products .glide__arrow svg,
.related__products .glide__arrow svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--grey);
}

/*
======================
Latest Products Media Query
======================
*/
@media only screen and (max-width: 999px) {
  .product__header {
    height: 25rem;
  }

  .product {
    width: 70%;
    margin: 0 auto;
  }

  .latest__products .glide__arrow--left,
  .related__products .glide__arrow--left {
    left: 73%;
  }

  .latest__products .glide__arrow--right,
  .related__products .glide__arrow--right {
    right: 7%;
  }
}

@media only screen and (max-width: 768px) {

  .latest__products .glide__arrow--left,
  .related__products .glide__arrow--left {
    left: 70%;
  }

  .latest__products .glide__arrow--right,
  .related__products .glide__arrow--right {
    right: 7%;
  }
}

@media only screen and (max-width: 578px) {
  .product__header {
    height: 20rem;
  }

  .product__btn:hover {
    background-color: var(--Black);
    color: var(--primaryColor);
  }

  .product__header img {
    width: 50%;
  }

  .latest__products .glide__arrow--left,
  .related__products .glide__arrow--left {
    left: 66%;
  }

  .latest__products .glide__arrow--right,
  .related__products .glide__arrow--right {
    left: 85%;
  }
}

@media only screen and (max-width: 400px) {
  .product__header {
    height: 15rem;
  }
}

/*
======================
Product Details
======================
*/

.details__container--left,
.product-detail__container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.product-detail__container {
  display: flex;
  justify-content: center;
  padding: 2.5rem 0;
}

.product-detail__left {
  flex: 0 0 45%;
}

.product-detail__right {
  flex: 0 0 55%;
}

.product-detail__container--left img {
  width: 100%;
  object-fit: cover;
}

.pictures__container {
  width: 6.2rem;
}

.pictures__container {
  padding: 1rem;
  border: 1px solid var(--primaryColor);
  border-right-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.pictures__container:not(:last-child) {
  border-bottom-color: transparent;
}

.pictures__container:hover {
  border-color: var(--Orange);
}

.pictures__container img {
  transition: 0.3s;
}

.pictures__container:hover img {
  scale: 1.1;
}

.product__picture {
  width: 100%;
  border: 1px solid var(--primaryColor);
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.product-details__btn {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.product-details__btn a {
  flex: 0 0 47%;
  display: inline-block;
  padding: 1.6rem 3rem;
  text-align: center;
  color: var(--Black);
  border: 1px solid var(--Black);
}

.product-details__btn svg {
  width: 1.9rem;
  height: 1.9rem;
  transition: 0.3s;
}

.product-details__btn .add,
.product-details__btn .buy {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.product-details__btn .add span,
.product-details__btn .buy span {
  margin-right: 1rem;
}

.product-details__btn .add:hover,
.product-details__btn .buy:hover {
  background-color: var(--Black);
  color: var(--primaryColor);
}

.product-details__btn .add:hover svg,
.product-details__btn .buy:hover svg {
  fill: var(--primaryColor);
}

/*
======================
Category Center
======================
*/
.category__center {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem 2rem;
}

@media only screen and (max-width: 999px) {
  .category__center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 568px) {
  .category__center {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 1rem;
  }

  .category__products .product__header {
    height: 10rem;
  }

  .category__products .product__header img {
    object-fit: contain;
  }
}

/*
======================
Pop Up
======================
*/

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .3);
  z-index: 1100;
  transition: 0.3s;
}

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 50rem;
  transform: translate(-50%, -50%);
  padding: 1.6rem;
  display: table;
  overflow: hidden;
  background-color: var(--white);
}

.popup__close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 1.5rem;
  background-color: var(--primaryColor);
  border-radius: 50%;
  cursor: pointer;
}

.popup__close svg {
  width: 1.7rem;
  height: 1.7rem;
}

.popup__left {
  display: table-cell;
  width: 50%;
  height: 100%;
  vertical-align: middle;
}

.popup__right {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  padding: 3rem 5rem;
}

.popup-img__container {
  width: 100%;
  overflow: hidden;
}

.popup-img__container img.popup__img {
  display: block;
  width: 60rem;
  height: 45rem;
  max-width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.right__content {
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

.right__content h1 {
  font-size: 4rem;
  color: #000;
  margin-bottom: 1.6rem;
}

.right__content h1 span {
  color: var(--green);
}

.right__content p {
  font-size: 1.8rem;
  color: var(--grey2);
  margin-bottom: 1.6rem;
}

.popup__form {
  width: 100%;
  padding: 2rem 0;
  text-indent: 1rem;
  margin-bottom: 1.6rem;
  border-radius: 3rem;
  background-color: var(--primaryColor);
  border: none;
}

.popup__form:focus {
  outline: none;
}

.right__content a:link,
.right__content a:visited {
  display: inline-block;
  padding: 1.8rem 5rem;
  border-radius: 3rem;
  font-weight: 700;
  color: var(--white);
  background-color: var(--Black);
  border: 1px solid var(--grey2);
  transition: 0.3s;
}

.right__content a:hover {
  background-color: var(--green);
  border: 1px solid var(--grey2);
  color: var(--Black);
}

.hide__popup {
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-width: 1200px) {

  .right__content {
    width: 100%;
  }

  .right__content h1 {
    font-size: 3.5rem;
    margin-bottom: 1.3rem;
  }
}

@media only screen and (max-width: 998px) {
  .popup__right {
    width: 100%;
  }

  .popup__left {
    display: none;
  }

  .right__content h1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 998px) {
  .right__content h1 {
    font-size: 4rem;
  }

  .right__content p {
    font-size: 1.6rem;
  }

  .popup__form {
    width: 90%;
    padding: 1.8rem 0;
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 568px) {

  .popup__right {
    padding: 0 1.6rem;
  }

  .popup__content {
    height: 35rem;
  }

  .right__content {
    width: 100%;
  }

  .right__content h1 {
    font-size: 3rem;
  }

  .right__content p {
    font-size: 1.4rem;
  }

  .popup__form {
    width: 100%;
    padding: 1.5rem 0;
    margin-bottom: 1.3rem;
  }

  .right__content a:link,
  .right__content a:visited {
    padding: 1.5rem 3rem;
  }

  .popup__close {

    top: 1rem;
    right: 1rem;
    padding: 1.3rem;
  }

  .popup__close svg {
    width: 1.4rem;
    height: 1.4rem;
  }
}

/*
======================
Facility
======================
*/

.facility__section {
  background-color: var(--primaryColor);
  padding: 6rem 0;
}

.facility__contianer {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
}

.facility-img__container svg {
  width: 3rem;
  height: 3rem;
  transition: 0.5s;
}

.facility__box {
  text-align: center;
}

.facility-img__container {
  position: relative;
  display: inline-block;
  line-height: 9.5rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 1.5px solid var(--white);
  z-index: 1;
  margin-bottom: 1.6rem;
}

.facility-img__container::before {
  content: "";
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0.7rem;
  background-color: var(--white);
  z-index: -1;
}

.facility__box:hover svg {
  transform: rotateY(180deg);
  line-height: 9.5rem;
}

/*
======================
Facility Media Query
======================
*/
@media only screen and (max-width: 998px) {
  .facility__contianer {
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
  }
}

@media only screen and (max-width: 568px) {
  .facility__contianer {
    grid-template-columns: 1fr;
  }

  .facility-img__container {
    width: 7rem;
    height: 7rem;
    line-height: 8.5rem;
  }

  .facility__contianer p {
    font-size: 1.4rem;
  }
}

/*
======================
Testimonial 
======================
*/

.testimonial {
  position: relative;
  background: url('./images/testimonial.jpg') center/cover no-repeat;
  height: 50rem;
  padding: 5rem 0;
  z-index: 1;
  text-align: center;
}

.testimonial::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .9);
  z-index: -1;
}

.client__image {
  margin-bottom: 3rem;
}

.client__image img {
  width: 7rem;
  height: 7rem;
  max-width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial__container {
  height: 100%;
  padding: 1rem;
}

.testimonial__box {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  color: #ccc;

}

.testimonial__box p {
  width: 70%;
  margin: 0 auto;
  line-height: 2.5rem;
  font-style: italic;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.client__info h3 {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.client__info span {
  font-size: 1.4rem;
}

.testimonial .glide__bullets {
  bottom: -20%;
}

/*
======================
Testimonial Media Query
======================
*/
@media only screen and (max-width: 1200px) {

  .testimonial__box {
    height: 100%;
  }

  .testimonial__box p {
    width: 90%;
    margin: 0 auto;
    line-height: 2.2rem;
    margin-bottom: 3rem;
  }

  .client__image {
    margin-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 568px) {
  .testimonial {
    height: 100%;
    padding: 4rem 0 5rem 0;
    z-index: 1;
    text-align: center;
  }

  .testimonial__box {
    height: 100%;
  }

  .testimonial__box p {
    width: 100%;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  .client__image {
    margin-bottom: 1.5rem;
  }

  .testimonial__box span {
    margin-bottom: 1rem;
  }

  .testimonial .glide__bullets {
    bottom: -8%;
  }
}