/*
======================
Reset
======================
*/

:root {
  --primaryColor: #f1f1f1;
  --Black: #222;
  --Orange: #e24647;
  --white: #fff;
  --grey: #959595;
  --secondaryColor: #2b1f4d;
  --yellow: #ffcc00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Archivo", sans-serif;
  color: var(--Black);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/*
======================
Header
======================
*/
/* 
.header {
  position: relative;
} */

.container {
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 1rem;
}

/*
======================
Navigation
======================
*/

.navigation {
  height: 6.7rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.nav__logo {
  padding: 1rem 0;
  cursor: pointer;
}

.nav__logo h2 {
  font-weight: 700;
}

.nav__hamburger {
  display: none;
  cursor: pointer;
}

.nav__hamburger svg {
  height: 1.8rem;
  width: 1.8rem;
}

.menu__top {
  display: none;
}

.nav__menu {
  width: 50%;
}

.nav__list {
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
}

.nav__item:not(:last-child) {
  margin-right: 1.6rem;
}

.nav__list .nav__link:link,
.nav__list .nav__link:visited {
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--Black);
  transition: color 0.3s ease-in-out;
}

.nav__list .nav__link:hover {
  color: var(--Orange);
}

.nav__icons {
  display: flex;
  position: relative;
}

.nav__icons .icon__item svg {
  width: 1.6rem;
  height: 1.6rem;
}

.nav__icons .icon__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  border: 1px solid var(--Black);
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.nav__icons .icon__item:link,
.nav__icons .icon__item:visited {
  color: var(--Black);
}

.nav__icons .icon__item:hover {
  background-color: var(--Orange);
}

.nav__icons .icon__item:not(:last-child) {
  margin-right: 1rem;
}

.nav__icons #cart__total {
  font-size: 1rem;
  position: absolute;
  top: 2px;
  right: -6px;
  background-color: var(--Orange);
  padding: 0.2rem 0.4rem;
  border-radius: 100%;
  color: var(--primaryColor);
}

/*
======================
Navigation Media Query
======================
*/

@media only screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: 0;
    left: -25rem;
    background-color: var(--white);
    z-index: 999;
    width: 0rem;
    height: 100%;
    transition: all 0.5s ease-in-out;
  }

  .nav__menu.open {
    width: 25rem;
    left: 0;
  }

  .nav__logo {
    width: 50%;
  }

  .nav__hamburger {
    display: block;
  }

  .menu__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Orange);
    height: 4rem;
    padding: 0 1rem;
  }

  .menu__top svg {
    height: 1.4rem;
    width: 1.4rem;
    fill: var(--primaryColor);
  }

  .nav__category {
    color: var(--white);
  }

  .nav__list {
    flex-direction: column;
    align-items: start;
    padding: 0 1rem;
  }

  .nav__item:not(:last-child) {
    margin-right: 0rem;
  }

  .nav__item {
    width: 100%;
  }

  .nav__link {
    padding: 1rem 0;
    width: 100%;
  }
}

/*
======================
Hero Area
======================
*/

.hero,
.hero .glide__slides {
  background-color: var(--primaryColor);
  width: 100%;
  height: 100vh;
}

.hero .glide__bullet {
  background-color: #222;
  width: 1.2rem;
  height: 1.2rem;
}

.hero .glide__arrow {
  padding: 1.5rem 1.7rem;
  opacity: 0;
  border: none;
  background-color: var(--grey);
  transition: all 0.5s ease-in-out 0.2s;
}

.glide__arrow:hover {
  background-color: var(--Black);
}

.glide__arrow--left {
  left: 20rem;
}

.glide__arrow--right {
  position: absolute;
  right: 20rem;
}

.hero:hover .glide__arrow {
  opacity: 1;
}

.hero:hover .glide__arrow--left {
  left: 23rem;
}

.hero:hover .glide__arrow--right {
  right: 23rem;
}

.hero .glide__arrow svg {
  height: 1.8rem;
  width: 1.8rem;
  fill: var(--primaryColor);
}

.hero .glide__arrow {
  border-radius: 50%;
}

.hero__center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 114rem;
  margin: 0 auto;
  height: 100%;
  padding-top: 3rem;
}

.hero__left {
  padding: 0 3rem;
  flex: 0 0 50%;
}

.hero__btn {
  display: inline-block;
  font-weight: 700;
  padding: 1.6rem 2.2rem;
  background-color: var(--Black);
  color: var(--primaryColor);
  cursor: pointer;
  margin-top: 1rem;
  border: 1px solid var(--Black);
  transition: all 0.3s ease-in-out;
}

.hero__btn:focus {
  outline: none;
}

.hero__left .hero__btn:hover {
  font-weight: 700;
  background-color: transparent;
  color: var(--Black);
}

.hero__left h1 {
  margin-top: 1rem;
}

.hero__btn:link,
.hero__btn:visited {
  display: inline-block;
  padding: 1rem 1.6rem;
  background-color: var(--Black);
}

.hero__right {
  flex: 0 0 50%;
  position: relative;
  text-align: center;
}

.hero__right img.banner_03 {
  width: 70%;
}

/*
======================
Hero Media Query
======================
*/
@media only screen and (max-width: 999px) {
  .hero__center {
    flex-direction: column;
    text-align: center;
  }

  .hero__right {
    top: 50%;
    position: absolute;
  }

  .hero__left {
    position: absolute;
    padding: 0 1rem;
    top: 20%;
  }

  .hero__right img {
    width: 55%;
  }

  .hero .glide__arrows {
    display: none;
  }
}

/*
======================
Collection
======================
*/

.section {
  padding: 3rem 0;
}

.collection__container {
  max-width: 114rem;
  width: 100%;
  padding: 0 1.6rem;
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.collection__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  flex: 0 0 48%;
  height: 30rem;
  background-color: var(--primaryColor);
}

.collection__box:not(:last-child) {
  margin-right: 1.6rem;
}

.img__container {
  width: 25rem;
  text-align: center;
}

.collection__box img.collection_01 {
  width: 60%;
}
.collection__box img.collection_02 {
  width: 75%;
}

.collection__content {
  flex: 0 0 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collection__content span {
  color: var(--Black);
}

.collection__content h1 {
  margin-top: 0.5rem;
}

.collection__content a:link,
.collection__content a:visited {
  font-weight: 700;
  display: inline-block;
  padding: 1rem 1.4rem;
  margin-top: 1.3rem;
  border-radius: 3rem;
  border: 2px solid var(--secondaryColor);
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
  transition: all 0.3s ease-in-out;
}

.collection__content a:hover {
  background-color: transparent;
  color: var(--secondaryColor);
}

/*
======================
Collection Media Query
======================
*/

@media only screen and (max-width: 999px) {
  .collection__container {
    width: 80%;
    flex-direction: column;
    height: 65rem;
    /* margin: 0; */
  }

  .collection__box {
    width: 100%;
    margin: 0 auto;
  }

  .collection__box:not(:last-child) {
    margin: 0 0 1.6rem 0;
  }
}

@media only screen and (max-width: 400px) {
  .collection__container {
    width: 100%;
    height: 95rem;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
  }

  .collection__box {
    flex-direction: column;
    justify-content: space-around;
  }

  .collection__content {
    flex: 0 0 30%;
  }
}
/*
======================
Latest Products
======================
*/

.lastest__products .container {
  max-width: 114rem;
  width: 90%;
  margin: 0 auto;
}

.title__container {
  background-color: var(--primaryColor);
  padding: 1rem 0;
  margin-bottom: 6rem;
  text-align: center;
}

.section__title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.section__title:hover .primary__title,
.section__title:hover span.dot,
.section__title:hover span.dot::before {
  opacity: 1;
}

.section__title .primary__title {
  opacity: 0.6;
  padding-left: 1.5rem;
  transition: opacity 0.3s ease-in-out;
}

span.dot {
  opacity: 0.6;
  padding: 0.45rem;
  position: relative;
  border: 1px solid var(--Black);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

span.dot::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--Black);
  background-color: var(--Black);
  margin: 1px;
  opacity: 0.6;
}

.section__title.active span.dot {
  opacity: 1;
}

.section__title.active span.dot::before {
  opacity: 1;
}

.section__title.active .primary__title {
  opacity: 1;
}

.product {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25rem;
}

.product__header {
  height: 35rem;
  padding: 0.5rem 0;
  text-align: center;
}

.product__header img {
  max-width: 100%;
  max-height: 100%;
}

.product__footer {
  padding: 1rem 0;
}

.product__footer .rating {
  padding-bottom: 1rem;
}

.product__footer svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--yellow);
}

.product__footer h3 {
  padding: 1rem 0;
}

.product__footer .product__price {
  padding-bottom: 1rem;
}

.product__btn {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  padding: 1.4rem 0;
  border: 1px solid var(--Black);
  color: var(--Black);
  cursor: pointer;
}

.product__btn:focus {
  outline: none;
}

.product__btn:hover {
  background-color: var(--Black);
  color: var(--primaryColor);
}

.lastest__products .glide__arrow {
  background-color: transparent;
  border: 1px solid var(--primaryColor);
  outline: none;
  border-radius: 0px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0);
  top: -7%;
  left: 80%;
}

.lastest__products .glide__arrow:hover {
  background-color: var(--Orange);
  border: 1px solid var(--primaryColor);
}

.lastest__products .glide__arrow--left {
  left: 75%;
}

.lastest__products .glide__arrow--right {
  right: 5%;
}

.lastest__products .glide__arrow svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--grey);
}

/*
======================
Latest Products Media Query
======================
*/

@media only screen and (max-width: 999px) {
  .product__header {
    height: 25rem;
  }
  .product {
    width: 70%;
    margin: 0 auto;
  }
  .lastest__products .glide__arrow--left {
    left: 73%;
  }

  .lastest__products .glide__arrow--right {
    right: 7%;
  }
}

@media only screen and (max-width: 768px) {
  .lastest__products .glide__arrow--left {
    left: 70%;
  }

  .lastest__products .glide__arrow--right {
    right: 7%;
  }
}

@media only screen and (max-width: 578px) {
  .product__header {
    height: 20rem;
  }
  .product__btn:hover {
    background-color: var(--Black);
    color: var(--primaryColor);
  }

  .product__header img {
    width: 50%;
  }

  .lastest__products .glide__arrow--left {
    left: 65%;
  }

  .lastest__products .glide__arrow--right {
    right: 10%;
  }
}

@media only screen and (max-width: 400px) {
  .product__header {
    height: 15rem;
  }
}
